#header {
    display: none;
}
#two  section:nth-child(1)  a {
    background-image: url("images/sredno.png");
    height: 224px;
    width: 225px;
}
#one  div  div  div.col-4.col-12-medium  span  img {
    float: right;
}
